@charset "utf-8";
/* 공통 */
#board {
    line-height: 25px;
    min-height: 300px;
}
.clearfix {
    display: block;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
div, fieldset, legend, td, th {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
}
.bbs_wrap {
    position: relative;
    width: 100%;
    line-height: 1.5;
}
span, a {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
strong {
    font-weight: 500;

}
ul,ul>li {
    list-style: none;
}
td ul, td li {
    text-align: left;
}
a:link {
    color: #4c4c4c;
    text-decoration: none;
}
a span {
    cursor: pointer;
}
svg {
    max-width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

/* p-table */
.p-table colgroup+tbody tr:first-child td {
    border-top: 2px solid #222;
}
.p-table {
    table-layout: fixed;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin: 2px 0 8px;
    border-spacing: 0;
}
.w20p {
    width: 20% !important;
}
.p-table td, .p-table th {
    border-bottom: 1px solid #d9d9d9;
}
.p-table td {
    padding: 11px;
    box-sizing: border-box;
    vertical-align: middle;
}
.p-table th {
    background: #f6f6f6;
    position: static;
    text-align: left;
    padding: 13px 20px;
    color: #000;
    font-weight: 400;
    vertical-align: middle;
}
.td_title {
    font-size: 1.2em;
    color: #222;
    vertical-align: middle;
}
.td_text {
    padding-top: 24px;
    padding-bottom: 24px;

}
.p-attach_item {
    margin: 5px 0;
}
.p-attach_link {
    position: relative;
    display: inline-block;
}
.p-attach_link span {
    vertical-align: middle;
}
.p-pdf_icon {
    background-image: url(../images/sub/board02.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    position: relative;
    display: inline-block;
    margin-right: 2px;
    font-size: 0;
    line-height: 0;
}
.magin_l_5 {
    margin-left: 5px !important;
}
.p-down_icon{
    background-image: url(../images/sub/board05.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
}
.p-attach_prv {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    line-height: inherit;
    text-align: center;
    position: relative;
    height: auto;
    margin: 0 8px;
    padding: 6px 10px;
    background-color: #fff;
    border-color: #cdcdcd;
    display: inline-block;
    gap: 6px;
    border: 1px solid #aaa;
}
.p-attach_prv:hover {
    background: #fafafa;
}
.p-prv {
    background-image: url(../images/sub/board03.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    max-width: 100%;
    position: relative;
    display: inline-block;
}